body {
  margin: 0;
  background-color: #E7F6FF;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1100px;
  margin: 50px auto;
}

.content {
  padding: 40px;

  h1 {
    margin: 0;
  }

  .sneakers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .orders-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;

    .order-card {
      width: 100%;

      .order-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        border-bottom: 1px solid #EAEAEA;
        margin-bottom: 30px;

        p {
          font-size: 13px;
        }
      }

      .order-items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
      }
    }
  }
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.search-block {
  position: relative;
  display: flex;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
  }

  .clear-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 10px;
    cursor: pointer;
    right: 10px;
  }
}

.favorites-empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 500;
  }

  p {
    color: #777777;
    margin: 0;
    line-height: 25px;
  }

  button {
    padding: 15px 20px;
    background: #9DD558;
    border-radius: 18px;
    color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    transition: 0.3s all;

    &:hover {
      background: #a9da6c;

      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: 0.15s all;
    }
  }
}