.cartEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  h2 {
    margin-bottom: 0;
  }

  p {
    width: 280px;
    line-height: 24px;
    text-align: center;
    opacity: 0.6;
  }

  .greenButton {
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: 0.15s all;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 0.3s all;

  &:disabled {
    background-color: #bebebe;
    cursor: default;
    animation: button-loading 0.6s ease-in-out infinite;
  }

  &:hover {
    background: lighten(#9dd558, 5%)
  }

  &:active {
    background: darken(#9dd558, 5%)
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}